@font-face {
  font-family: 'Lora';
  src: url('/assets/fonts/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('/assets/fonts/Lora-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: url('/assets/fonts/Sora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: url('/assets/fonts/Sora-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
